<!DOCTYPE html>
{% extends 'ClubScoutGlasgow/base.html' %}
{% load staticfiles %}

<title>
  {% block title_block %}
    Homepage
  {% endblock %}

{% block body_block%}
    <h1> Rango says...</h1>
    <div>
      {% if user.is_authenticated %}
        howdy {{ user.username }}!
      {% else %}
          hey there partner!
      {% endif %}
      <br />
      <strong>{{boldmessage}}</strong><br />
    </div>

    <h2>
      <strong> Most Liked Categories</strong>
    </h2>
    {% if categories %}
      <ul>
        {% for category in categories %}
        <li>
      <!-- The following line is changed to add an HTML hyperlink -->

        {{ category.name }}
      </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}

    <h2>
      <strong> Most Viewed Pages</strong>
    </h2>

      <ul>
        <li>
      <!-- The following line is changed to add an HTML hyperlink -->
        </li>
      </ul>
{% endblock %}
